/* Адаптация под мобильные устройства */
@media (max-width: 768px) {
    #search-bar {
      width: 100%; /* Полная ширина для мобильных устройств */
    }
  
    .alphabet-filter button {
      flex: 1 1 30%; /* Кнопки занимают 30% ширины */
      margin: 5px 0; /* Вертикальные отступы */
    }
  
    .brand-card {
      flex: 1 1 calc(45% - 20px); /* Ширина карточек на планшетах */
    }
  }
  
  @media (max-width: 480px) {
    .brand-card {
      flex: 1 1 100%; /* Полная ширина карточек на телефонах */
    }
  
    .alphabet-filter button {
      flex: 1 1 100%; /* Полная ширина кнопок на телефонах */
    }
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
  }
  
  .search-section, .alphabet-filter {
    text-align: center;
    margin-bottom: 40px;
  }
  
  #search-bar {
    width: 70%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .alphabet-filter button {
    padding: 10px 15px;
    font-size: 1em;
    border: 1px solid #45EFDA;
    background-color: #45EFDA;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
  }
  
  .brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .brand-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
  }
  
  .brand-card img {
    max-width: 80%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .brand-card p {
    font-size: 0.9em;
  }
  
  .brand-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  .back-to-main {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #45EFDA;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
  }
  