.cart-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 120px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-title {
  font-size: 24px;
  font-weight: bold;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.cart-table th, .cart-table td {
  border: 1px solid #ddd;
  padding: 9px;
  text-align: left;
}

.cart-table th {
  background-color: #f2f2f2;
}

.cart-table td {
  vertical-align: middle;
}

/* Расширяем столбец "Цена" */
.cart-table th:nth-child(3),
.cart-table td:nth-child(3) {
  width: 100px; /* Увеличиваем ширину столбца */
  word-wrap: break-word; /* Разрешаем перенос текста */
  text-align: center; /* Центрируем текст */
}

/* Увеличиваем изображение товара в корзине */
.cart-product-image {
  width: 150px; /* Увеличиваем ширину */
  height: 150px; /* Устанавливаем высоту */
  object-fit: cover; /* Обрезаем изображение, чтобы оно не растягивалось */
  margin-right: 10px; /* Добавляем отступ справа */
}

.cart-total {
  margin-top: 20px;
  text-align: right;
}

.buy-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.breadcrumbs a {
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit; /* Сохраняет цвет текста */
}

.breadcrumbs a:hover {
  text-decoration: underline; /* При наведении добавляет подчеркивание (опционально) */
}

/* Основные стили для корзины */
.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.quantity {
  font-size: 16px;
  margin: 0 10px;
  width: 30px;
  text-align: center;
}


.modal-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm-button,
.cancel-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button {
  background-color: #45EFDA;
  color: black;
}

.cancel-button {
  background-color: #f44336;
  color: white;
}