// Переменные
$primary-color: #333;
$primary-color-hover: #242424;
$secondary-color: #40e0d0;
$secondary-color-hover: #3accc1;
$danger-color: #ff6b6b;
$danger-color-hover: #ff5252;
$text-color-dark: #333;
$text-color-light: #555;
$background-color-light: #f9f9f9;
$border-color: #ddd;
$background-color:#333;

// Основные стили
.cart-container {
  max-width: 1200px;
  margin: 120px auto 0;
  padding: 20px;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-title {
  font-size: 24px;
  font-weight: bold;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border: 1px solid $border-color;
  border-radius: 8px;
  background-color: $background-color-light;
}

.cart-product-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-details {
  flex-grow: 1;
  margin-left: 15px;
}

.cart-item-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-item-price {
  font-size: 14px;
  color: $text-color-dark;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: $background-color;
  border: 1px solid $border-color;
  padding: 5px;
  font-size: 14px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.quantity-button:hover {
  background-color: #ddd;
}

.quantity {
  font-size: 16px;
  margin: 0 10px;
  text-align: center;
}

.cart-total {
  margin-top: 20px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.buy-button {
  background-color: $primary-color;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: $primary-color-hover;
}

// Анимация для модального окна
@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-content h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: $text-color-dark;
}

.modal-content p {
  font-size: 16px;
  color: $text-color-light;
  margin-bottom: 15px;
}

.modal-content label {
  font-size: 14px;
  color: $text-color-dark;
  display: block;
  margin-bottom: 10px;
}

.modal-content input[type="radio"] {
  margin-right: 8px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 20px;
}

.confirm-button,
.cancel-button {
  padding: 12px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.confirm-button {
  background: $secondary-color;
  color: white;
}

.confirm-button:hover {
  background: $secondary-color-hover;
}

.cancel-button {
  background: $danger-color;
  color: white;
}

.cancel-button:hover {
  background: $danger-color-hover;
}

.modal-content div {
  margin: 15px 0;
}

.breadcrumbs a {
  text-decoration: none;
  color: inherit;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}
