.containers {
  display: flex;
  margin: 20px;
  margin-top: 150px; /* Уменьшили отступ сверху для поднятия категорий */
}

.sidebar {
  flex: 0 0 200px;
  margin-right: 20px;
}

.main-content {
  flex: 1;
}

.main-content h2 {
  margin-top: 30px;
  font-size: 1.5em;
  text-align: left;
}

.categories-nav {
  background-color: #ffffff; /* Светло-серый фон */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень для выделения */
}

.categories-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categories-nav li {
  margin-bottom: 10px;
}

.categories-nav .category-button {
  background-color: #f0f0f0; /* Серый цвет кнопки */
  color: #000; /* Черный цвет текста */
  border: none;
  padding: 10px;
  width: 100%; /* Кнопки одинаковой ширины */
  text-align: left; /* Текст выравнивается по левому краю */
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.categories-nav .category-button:hover {
  background-color: #45EFDA; /* Темнее при наведении */
}

.breadcrumbs {
  margin-bottom: 20px;
  margin-right: 50px;
  text-align: end;
  position: fixed; /* Обеспечиваем независимость позиционирования */
}

/* Ссылки хлебных крошек */
.breadcrumbs a {
  text-decoration: none;
  color: #333;
}
.filter-container {
  margin-top: 20px;
  background-color: #f8f9fa; /* Фон для блока фильтров */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.filter {
  margin-bottom: 15px;
}

.filter label {
  display: block;
  margin-bottom: 5px;
  font-size: 1em;
  color: #343a40;
}

.filter input[type="number"],
.filter select {
  padding: 10px;
  width: 100%; /* Занимают всю ширину контейнера */
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f3f3f3;
  cursor: pointer;
  appearance: none;
}

.filter input[type="number"]:focus,
.filter select:focus {
  border-color: #45EFDA;
  outline: none;
}

.filter button,
.reset-filters {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border: none;
  background-color: #45EFDA;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  font-size: 1em;
  transition: background-color 0.3s;
}

.reset-filters:hover {
  background-color: #36c5ba; /* Немного темнее при наведении */
}
.filter button:hover {
  background-color: #36c5ba; /* Немного темнее при наведении */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
  background-color: #ffffff;
}

.card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
  background-color: #fff;
}

.card img {
  max-width: 70%;
  border-radius: 5px;
}

.card h3 {
  margin: 10px 0;
  font-size: 1em;
}

.card p {
  font-size: 0.9em;
  margin: 5px 0;
}

.card .price {
  color: #45EFDA;
  font-weight: bold;
  margin: 5px 0;
}

.card .availability {
  color: #6c757d;
  margin: 5px 0;
}

.card button {
  padding: 8px;
  border: none;
  background-color: #45EFDA;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9em;
  margin-top: 5px;
}

.no-products {
  text-align: center;
  margin-top: 50px;
}

.no-products img {
  width: 150px;
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.cat {
  position: fixed;
  bottom: 10px;
  right: 10px;
  animation: jump 0.5s infinite;
}


.category-nav {
  text-align: right;

}
/* Стили для контейнера навигации */
.category-nav {
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: flex-end; /* Выравнивание по правому краю */

}

/* Стили для ссылок в навигации */
.category-nav a {
  font-size: 1.2em; /* Увеличенный размер шрифта */
  color: #333; /* Темный цвет текста */
  text-decoration: none; /* Убираем подчеркивание */
  margin-right: 10px; /* Отступ справа для разделения ссылок */
}
