
.legal-page {
    padding: 20px;
    margin-top: 130px; 
    max-width: 70%; 
    margin-left: auto;
    margin-right: auto; 
    background-color: transparent;
    box-shadow: none; 
    border-radius: 8px; 
  }
  

  .legal-title {
    margin-bottom: 20px;
    font-size: 2em;
    text-align: left; 
    color: #333; 
  }
  

  .legal-section {
    margin-bottom: 40px;
    line-height: 1.6; 
    color: #555;
    text-align: left; 
  }
  

  .legal-section-title {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #000000;
    text-align: left;
  }
  

  .legal-link a {
    color: #007bff;
    text-decoration: none;
    text-align: left; 
  }
  

  .legal-section p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 20px;
  }
  

  .legal-section ul {
      margin: 20px 0;
      padding-left: 20px;
  }
  
  .legal-section ul li {
      margin-bottom: 10px;
      list-style-type: disc;
  }
  .legal-link a:hover {
    text-decoration: underline;
  }

  .legal-image {
    max-width: 40%; 
    height: auto;
    display: block;
    margin: 20px 0; 
  }

  @media (max-width: 768px) {
    .legal-title {
        font-size: 2rem;
    }
  
    .legal-section-title {
        font-size: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .legal-title {
        font-size: 1.8rem;
    }
  
    .legal-section-title {
        font-size: 1.2rem;
    }
  
    .subscribe-button {
        font-size: 0.9rem;
    }
  }
  
.legal-toc {
    margin-bottom: 30px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }
  
  .legal-toc ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .legal-toc li {
    margin-bottom: 10px;
  }
  
  .legal-toc a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.1em;
  }
  
  .legal-toc a:hover {
    text-decoration: underline;
  }
  

  @media (max-width: 768px) {
    .legal-toc a {
      font-size: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .legal-toc a {
      font-size: 0.9em;
    }
  }
  