$button_more-color: #40e0d0;
$button_more-color-hover: #3accc1;

.product-card {
  .ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; /* Ограничиваем до 2 строк */
    text-overflow: ellipsis;
  }
}

.button_more {
  background-color: $button_more-color;
  color: black;
  width: 30px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-top: 3px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;

  i {
    font-size: 13px;
  }

  &:hover {
    background-color: $button_more-color-hover;
  }
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
